@{
    ViewData["Title"] = "Coming Soon - Agri-Energy Connect";
}

<div class="container text-center mt-5 p-5 rounded">
    <h1 class="display-4 fw-bold" style="color: #2E7D32;">🌱 Coming Soon</h1>
    <p class="lead mt-3" style="color: #6D4C41;">
        We're planting the seeds for something new!<br />
        This feature is under development and will be blooming soon.
    </p>
    <p class="mt-4" style="color: black;">
        Thank you for being part of the Agri-Energy Connect journey.
	</p>
    <img src="~/images/coming soon.gif" />
</div>
