@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html>

<body>

    <div class="full-background">
        <div class="content-overlay">
            <div class="hero-section text-center p-5">
                <h1 style="color:#3E391A;" class="display-4 fw-bold">Welcome to Agri-Energy Connect</h1>
				<p class="lead">Think Green, Think Agri-Energy Connect</p>
                <img src="~/images/agrienergyhome.jpg" />
            </div>

            <div class="container mt-5">
                <div class="row text-center">
                    <div class="col-md-4 mb-4">
                        <h4 style="color: #98C510;">Sustainable Farming</h4>
                        <p>Access tools, tips, and support for environmentally-friendly farming practices.</p>
                    </div>
                    <div class="col-md-4 mb-4">
                        <h4 style="color: #10BC10;">Energy Marketplace</h4>
                        <p>Connect with providers and explore affordable green energy solutions.</p>
                    </div>
                    <div class="col-md-4 mb-4">
                        <h4 style="color: #D8F013;">Community Support</h4>
                        <p>Join a growing network of farmers and employees driving change together.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
